body {
    font-family: Trebuchet MS, Arial, Times New Roman, serif ;
    font-size: 12px;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    display: flex;
}

#menu {
    width: 25%;
    display: flex;
    justify-content: center;
}

#content {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#form-control {
    margin: 5px;
    display: flex;
}


#form-control input,
#form-control select  {
    border: 2px solid;
    border-color: black;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

#form-control select {
    width: 100%;
}


button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 18px;
    display: block;
}

#form-control .error {
    color: red;
    font-size: 13px;
}
